{% extends 'base.html' %}
{% load static %}

{% block title %}Gráficos{% endblock %}

{% block css %}{% endblock %}

{% block content %}

<!-- <h1 style="font-size: 4px;">isaque vai se fuder</h1>
<h1 style="font-size: 40px;">perdão meu amor :( </h1>
<h1 style="font-size: 400px;"> 🩷 </h1>
<h1 style="font-size: 400px;">:( linda </h1> -->
<div class="centralPage">
    <div class="pageTitle">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path d="M12 32V12H5.33333C4.44928 12 3.60143 12.3512 2.97631 12.9763C2.35119 13.6014 2 14.4493 2 15.3333V28.6667C2 29.5507 2.35119 30.3986 2.97631 31.0237C3.60143 31.6488 4.44928 32 5.33333 32H12ZM12 32H22M12 32V5.33333C12 4.44928 12.3512 3.60143 12.9763 2.97631C13.6014 2.35119 14.4493 2 15.3333 2H18.6667C19.5507 2 20.3986 2.35119 21.0237 2.97631C21.6488 3.60143 22 4.44928 22 5.33333V32M22 32H28.6667C29.5507 32 30.3986 31.6488 31.0237 31.0237C31.6488 30.3986 32 29.5507 32 28.6667V12C32 11.1159 31.6488 10.2681 31.0237 9.64298C30.3986 9.01786 29.5507 8.66667 28.6667 8.66667H22V32Z" stroke="#0075F6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <h1>Gráficos de Controle</h1>
    </div>
    <div class="detailsFlightsAccidents">
        <div class="cardDetails big">
            <div class="detailsIcon">

            </div>
            <div class="titleIcon">
                <h5 class="labelCard">
                    nº de amostras
                </h5>
                <h3 class="insightText">
                    42
                </h3>
            </div>
        </div>

        <div class="cardDetails big">
            <div class="detailsIcon">

            </div>
            <div class="titleIcon">
                <h5 class="labelCard">
                    Médias
                </h5>
                <h3 class="insightText">
                    Gráfico X
                </h3>
            </div>
        </div>

        <div class="cardDetails big">
            <div class="detailsIcon">

            </div>
            <div class="titleIcon">
                <h5 class="labelCard">
                    Amplitude
                </h5>
                <h3 class="insightText">
                    Gráfico R
                </h3>
            </div>
        </div>
    </div>

    <div class="chartCenter">
        <div class="chartArea">
            <h2 class="titleChart">Gráfico X</h2>

            <div class="detailsFlightsAccidents">
                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            nº de outlairs
                        </h5>
                        <h3 class="insightText">
                            42
                        </h3>
                    </div>
                </div>

                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            CP
                        </h5>
                        <h3 class="insightText">
                            XX.XX
                        </h3>
                    </div>
                </div>

                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            CPK
                        </h5>
                        <h3 class="insightText">
                            XX.XX
                        </h3>
                    </div>
                </div>
                
            
                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            LSE
                        </h5>
                        <h3 class="insightText">
                            XX.XX
                        </h3>
                    </div>
                </div>

                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            LIE
                        </h5>
                        <h3 class="insightText">
                            XX.XX
                        </h3>
                    </div>
                </div>
            </div>
            <div class="chartMain">
                <!--inserir gráfico aqui-->
            </div>
        </div>

        <div class="chartArea">
            <h2 class="titleChart">Gráfico R</h2>

            <div class="detailsFlightsAccidents">
                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            nº de outlairs
                        </h5>
                        <h3 class="insightText">
                            42
                        </h3>
                    </div>
                </div>

                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            CP
                        </h5>
                        <h3 class="insightText">
                            XX.XX
                        </h3>
                    </div>
                </div>

                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            CPK
                        </h5>
                        <h3 class="insightText">
                            XX.XX
                        </h3>
                    </div>
                </div>
                
            
                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            LSE
                        </h5>
                        <h3 class="insightText">
                            XX.XX
                        </h3>
                    </div>
                </div>

                <div class="cardDetails">
                    <div class="titleIcon mini">
                        <h5 class="labelCard">
                            LIE
                        </h5>
                        <h3 class="insightText">
                            XX.XX
                        </h3>
                    </div>
                </div>
            </div>
            <div class="chartMain">
                <!--inserir gráfico aqui-->
            </div>
        </div>

    </div>
</div>


{% endblock %}